.card {
  cursor: pointer;
  box-shadow: 0 2px 4px #ccc;
}
.list-container {
  margin-top: 20px;
}

.card-img {
  height: 12rem;
}

.card-body h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 4px 6px #ccc;
}

.mark-price {
  text-decoration: line-through;
  color: grey;
}

.sales-msg {
  font-size: 0.75em;
  color: #2fada1;
}

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  font-size: 1em;
}
