.product-detail-container {
  box-shadow: 0 4px 8px #ccc;
  height: 80vh;
}

.image-container {
  margin: 0 auto;
}

.image {
  border-radius: 40px;
  width: 70%;
  height: 50%;
  margin-left: 40px;
  margin-top: 30px;
  box-shadow: 0 4px 8px #ccc;
}

.description {
  font-size: 0.9rem;
}

@media screen and (max-width: 960px) {
  .product-detail-container {
    height: auto;
  }
}
